body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.mobile-page {
  max-width: 100%;
  /* default untuk mobile */
}

/* Tablet & Desktop */
@media (min-width: 768px) {
  .mobile-page {
    max-width: 430px;
    /* kira-kira lebar layar iPhone 16 Pro Max */
    margin: 0 auto;
    /* biar center di layar besar */
    display: block;
  }
}

.bg-black {
  background-color: black;
}

.floating-home {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ffffff;
  color: #000000;
  padding: 12px 16px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.floating-home:hover {
  background: #00b894;
  color: #ffffff;
}